<div class="flex flex-col items-center gap-2 bg-(--bg-light) p-2">
    <img [src]="'img/upgrades/' + upgrade()?.upgradeId + '.png'" [alt]="upgrade()?.upgradeId" class="w-15">
    <p class="text-md text-center font-semibold">{{ upgrade()?.name }}</p>
    <p>{{ upgrade()?.cost }}$</p>
    <p class="text-(--bg-secondary) font-semibold">{{ upgrade()?.level }} / {{ upgrade()?.maxLevel }}</p>
    <button
        class="px-3 py-1.5 rounded-lg border-2 border-(--bg-secondary) text-(--bg-secondary) text-sm font-semibold hover:bg-(--bg-secondary) hover:text-white transition cursor-pointer">
        Acheter
    </button>
</div>