<section
    class="min-h-[calc(100vh-4rem)] flex flex-col items-center px-4 gap-8 bg-(--bg-primary) text-gray-900 pb-20 relative overflow-hidden">
    <div class="absolute top-0 left-0 w-full h-full overflow-hidden pointer-events-none z-0">
        <div
            class="absolute top-[-10%] left-[-10%] w-[30rem] h-[30rem] rounded-full mix-blend-multiply filter blur-[80px] opacity-40 animate-pulse bg-(--bg-secondary) [animation-duration:4s]">
        </div>
        <div
            class="absolute bottom-[-10%] right-[-10%] w-[30rem] h-[30rem] bg-purple-300/60 rounded-full mix-blend-multiply filter blur-[80px] opacity-40 animate-pulse [animation-duration:5s] [animation-delay:1s]">
        </div>
    </div>

    <app-game-menu />

    <h1 class="text-center font-bold text-3xl">Bienvenue dans la <span class="text-(--bg-secondary)">boutique</span> !</h1>

    <p class="text-xl">Balance : {{ factory()?.balance }}$</p>

    <app-box-shop />
</section>