<div class="flex items-center gap-4 mt-8">
    <a routerLink="/game" routerLinkActive="!bg-(--bg-secondary) !text-white"
        class="px-4 py-2 rounded-lg border-2 border-(--bg-secondary) text-(--bg-secondary) font-semibold hover:bg-(--bg-secondary)/10 transition cursor-pointer">Factory</a>
    <a routerLink="/shop" routerLinkActive="!bg-(--bg-secondary) !text-white"
        class="px-4 py-2 rounded-lg border-2 border-(--bg-secondary) text-(--bg-secondary) font-semibold hover:bg-(--bg-secondary)/10 transition cursor-pointer">Boutique</a>
</div>