nav {
    display: flex;
    justify-content: space-between;
    padding: 1.25rem 3rem;
    background-color: darkgray;

    div {
        display: flex;
        gap: 2rem;

        a:hover,
        button:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}