<section
    class="min-h-[calc(100vh-4rem)] flex flex-col items-center px-4 gap-8 bg-(--bg-primary) text-gray-900 pb-20 relative overflow-hidden">
    <div class="absolute top-0 left-0 w-full h-full overflow-hidden pointer-events-none z-0">
        <div
            class="absolute top-[-10%] left-[-10%] w-[30rem] h-[30rem] rounded-full mix-blend-multiply filter blur-[80px] opacity-40 animate-pulse bg-(--bg-secondary) [animation-duration:4s]">
        </div>
        <div
            class="absolute bottom-[-10%] right-[-10%] w-[30rem] h-[30rem] bg-purple-300/60 rounded-full mix-blend-multiply filter blur-[80px] opacity-40 animate-pulse [animation-duration:5s] [animation-delay:1s]">
        </div>
    </div>

    <app-game-menu />

    <div class="flex flex-col items-center gap-8">

        <h1 class="text-center font-bold text-3xl">Bienvenue dans votre <span class="text-(--bg-secondary)">factory</span> !</h1>

        <p class="text-xl">Balance : {{ factory()?.balance }}$</p>

        <div class="grid grid-cols-2 sm:grid-cols-4 md:grid-cols-6 lg:grid-cols-10 gap-4 border-2 border-(--bg-secondary) rounded-xl p-4">
            @for (pet of factoryPets(); track pet.id) {
                <app-pet-card [pet]="pet" [disableButton]="factoryPets()?.length === 1" />
            }
        </div>

        <p class="text-lg">Capacité : {{ factoryPets()?.length }} / {{ factory()?.maxSize }}</p>
        
        <button 
            class="px-4 py-2 rounded-lg border-2 border-(--bg-secondary) text-(--bg-secondary) font-semibold transition cursor-pointer hover:bg-(--bg-secondary) hover:text-white disabled:opacity-50 disabled:bg-gray-200 disabled:border-gray-400 disabled:text-gray-500 disabled:cursor-not-allowed disabled:hover:bg-gray-200 disabled:hover:text-gray-500 flex items-center justify-center gap-2"
            [disabled]="cooldownSeconds() > 0"
            (click)="updateBalance()">
            @if (cooldownSeconds() > 0) {
                <span>Recharge ({{ cooldownSeconds() }}s)</span>
            } @else {
                <span>Mettre à jour la balance</span>
            }
        </button>
    </div>
</section>